www.{{DOMAIN}} {
    redir https://{{DOMAIN}}{uri}
}

{{DOMAIN}} {
    root * /srv
    file_server
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
    log {
        output file /var/log/caddy/access.log
    }
}
